.caption {
    padding-bottom:  2rem;
    font-family: 'Luckiest Guy', cursive;
    font-size: 5rem
}

.nav{
    font-family: 'Luckiest Guy', cursive;
}

body {
    padding-top: 2rem;
    padding-bottom: 2rem;
    /*font-family: 'Luckiest Guy', cursive;
    font-family: 'Audiowide', cursive;*/
    font-family: 'Basic', sans-serif;
}
.container {
    border: 1px;
    border-style: solid;
    border-color: lightgrey;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /*width: 70%*/
}
